.portrait {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-radius: 50%;
  width: 17%;
}
.portrait:hover {
  -webkit-filter: blur(1px) grayscale(20%);
  filter: blur(1px) grayscale(20%);
}
.nameTitle {
  font-size: 30px;
  text-align: center;
}
.introParagraph {
  font-size: 16px;
  width: 80%;
  margin: auto;
}
