.project {
  width: 80%;
  margin: auto;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.item {
  margin: 0px 10px 0px 10px;
}

.projectName {
  font-size: 26px;
  vertical-align: middle;
}
.projectIcon {
  height: 23px;
  vertical-align: middle;
}
.projectBody {
  width: 100%;
}
.projectImage {
  width: 100%;
}
