#progress {
  width: 200px;
  background-color: grey;
}
#bar {
  width: 1px;
  height: 20px;
  background-color: green;
  border-radius: 3px;
}
body {
  background-image: url("background.jpg");
  font-family: monospace;
  color: white;
}
button {
  margin: 5px;
}
