---
layout: default
---
<!-- page.html -->
        <div class="post">

          <header class="post-header">
            <a href="{{page.book_url}}" target="_blank"><h1 class="post-title"> {{ page.title }}</h1></a>
            <p class="post-description">By {{ page.author }}</p>
          </header>

          <article>
            <div class="rating">
              My Rating:
              {% for star in (1..page.rating) %}
                <i class="fa fa-star"></i>
              {% endfor %}
            </div>
            <br>
            {{ content }}
          </article>

        </div>
    
        <a href="/reading"> ← All books </a>
